<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjlabs.api.business.mapper.DelayJobTaskMapper">

    <resultMap id="DelayJobTaskResultMap" type="com.cjlabs.api.business.mysql.DelayJobTask">
        <id property="id" column="id"/>
        <result property="taskType" column="task_type"/>
        <result property="executeType" column="execute_type"/>
        <result property="retryStrategy" column="retry_strategy"/>
        <result property="retryDelaySeconds" column="retry_delay_seconds"/>
        <result property="retryCount" column="retry_count"/>
        <result property="maxRetryCount" column="max_retry_count"/>
        <result property="msgBody" column="msg_body"/>
        <result property="executeTime" column="execute_time"/>
        <result property="taskStatus" column="task_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createUser" column="create_user"/>
        <result property="createDate" column="create_date"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateDate" column="update_date"/>
        <result property="remark" column="remark"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        , task_type, execute_type, retry_strategy, retry_delay_seconds, retry_count, max_retry_count, msg_body, execute_time, task_status, del_flag, create_user, create_date, update_user, update_date, remark
    </sql>

    <sql id="Base_Table">
        delay_job_task
    </sql>

</mapper>